{% extends '@forum/layout.html.twig' %}

{% block content %}

    {{ fireHook('view.misc.rules.start') }}

    <div id="rules" class="card">
        <div class="card-header"><strong>{{ trans('Forum rules') }}</strong></div>
        <div class="card-body">
            {{ settings('o_rules_message') }}
        </div>
    </div>

    {{ fireHook('view.misc.rules.end') }}
{% endblock content %}
