{{ fireHook('view.search.footer.start') }}

{% if footer.show_as == 'topics' %}


                    </table>
                </div>
            </div>
        </div>

{% endif %}

<div class="row col-md-12">
    <p class="pagelink">{{ search.paging_links|raw }}</p>
</div>

{{ fireHook('view.search.footer.end') }}
